{% extends 'register/navigations.html' %}
{% load static %}


{% block include-css %}
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/login.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
{% endblock include-css %}

<div class="hero-banner">

	<img src="{% static 'register/images/elements2023/UCPC@4x.png' %}" width="327" height="490" alt="Ucpc" class="ucpc-block">

	<img src="{% static 'post/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

	<img src="{% static 'post/images/Ucpc_block.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

</div>

<img src="{% static 'post/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

<img src="{% static 'post/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">


{% block content %}


<!--Password Reset Confirm-->

  <div class="form-container">
		<div class="login-card" style="border-radius:0px;">
			<div class="column" style="gap:unset;">
				<h1>Đặt lại mật khẩu</h1>
				<form id="reset-password-form" method="POST">
					{% csrf_token %}
					<div class="form-item">
						<label for="id_new_password1" class=" requiredField" style="transform: translate(-160px, -10px);">
    Nhập mật khẩu mới* </label> 
            <input type="password" name="new_password1" autocomplete="new-password" class="passwordinput form-control" required id="id_new_password1">
            <ul class="password-validation" style="text-align:left; margin: 10px;">
              <li class="length-validation">Mật khẩu phải chứa ít nhất 8 kí tự</li>
              <li class="number-validation">Mật khẩu phải chứa ít nhất 1 chữ số</li>
              <li class="character-validation">Mật khẩu phải chứa ít nhất 1 chữ in thường và 1 chữ in hoa</li>
            </ul>
					</div>
          {% for message in form.new_password1.errors %}
				    <div class="messages">
        				<p style="white-space: pre-wrap;"class="error">{{ message }}</p>
				    </div>
    			{% endfor %}
          <div class="form-item">
						<label for="id_new_password2" class=" requiredField" style="transform: translate(-160px, -10px);">
              Nhập lại mật khẩu mới*
            </label> 
              <input type="password" name="new_password2" autocomplete="new-password" class="passwordinput form-control" required id="id_new_password2">
					</div>
          {% for message in form.new_password2.errors %}
				    <div class="messages">
        				<p style="white-space: pre-wrap;"class="error">{{ message }}</p>
				    </div>
    			{% endfor %}
					<button id="submit-button" disabled class="btn btn-primary" type="submit">Đặt lại mật khẩu</button>
				</form>
			</div>
		</div>
	</div>

  <script src="{% static 'register/javascript/ucpc-2023.resetPassword.js' %}"></script>
{% endblock %}