{% extends 'register/navigations.html' %}
{% load static %}


{% block include-css %}
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/login.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
{% endblock include-css %}

{% block content %}

<div class="hero-banner">

	<img src="{% static 'register/images/elements2023/UCPC@4x.png' %}" width="327" height="490" alt="Ucpc" class="ucpc-block">

	<img src="{% static 'post/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

	<img src="{% static 'post/images/Ucpc_block.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

</div>

<img src="{% static 'post/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

<img src="{% static 'post/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">
        

	<!--Reset Password-->
	  <div class="form-container">
		<div class="login-card" style="border-radius:0px;">
			<div class="column" style="gap:unset;">
				<h1>Quên mật khẩu?</h1>
				<form method="POST">
					{% csrf_token %}
					<div class="form-item">
						<label for="id_email" class=" requiredField">
							Nhập địa chỉ Email<span class="asteriskField">*</span> 
							</label> 
						<input type="text" id="email" name="email" class="form-element" required>
					</div>
					{% for message in messages %}
						<div class="messages">
      					{% if message.tags == 'error' %}
        					<p style="white-space: pre-wrap;"class="error">{{ message }}</p>
      					{% endif %}
						</div>

    				{% endfor %}
					<button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}