{% extends 'register/main.html' %}
{% load static %}

{% block main %}
{% if isTimeOver %}
<div class="profile-container">
	<a href="{% url 'register:home' %}">
		<div class="topbar d-flex flex-row">
			<img class="logo" src="{% static 'register/images/introduction/logo3.jpg' %}"/>
			<div class="logo-title d-flex flex-column" >UIT Collegiate Programming Contest</div>
		</div>	
	</a>
	<div class="divider-container d-flex align-items-center justify-content-center">
		<div class="divider"></div>
	</div>
	<div class="message-container">
		<p class="messages">❌ Đã hết thời gian chỉnh sửa thông tin đội thi!</p>
	</div>
</div>	
{% else %}
<div class="profile-container">
	<a href="{% url 'register:home' %}">
		<div class="topbar d-flex flex-row">
			<img class="logo" src="{% static 'register/images/introduction/logo3.jpg' %}"/>
			<div class="logo-title d-flex flex-column" >UIT Collegiate Programming Contest</div>
		</div>	
	</a>
	<div class="divider-container d-flex align-items-center justify-content-center">
		<div class="divider"></div>
	</div>
	<div class="d-flex flex-row align-items-center justify-content-start">
		{% for message in messages %}
		<div class="message-container">
			<p class="messages">{{message}}</p>
		</div>
		{% endfor %}
	</div>
	<div class="title-container">
		<h1 class="title">Chỉnh sửa hồ sơ đội thi UCPC</h1>
	</div>
	<div class="info-container" style="margin-bottom: 300px;">
		<div class="form-group">
			<form id="registration_form" class="row" method="POST">
				{% csrf_token %}
				<div class="general_info col-xxl-8 col-xl-9">
					<div class="info-box">
						<div class="box-title-container">
							<h2 class="box-title">Thông tin đội</h2>
						</div>
						<div class="box-info-container">
							<div class="box-info-wrapper">
								<div class="box-label-primary">Tên đội</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tf.TeamName }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tf.TeamName.errors }}</small>
								<p class="box-value-hint">Tên đội không được sử dụng từ ngữ, ký hiệu vi phạm truyền thống lịch sử, văn hóa, đạo đức và thuần phong mỹ tục của dân tộc.</p>
							</div>	
						</div>
					</div>
				</div>
				<div class="teammates_info col-xxl-8 col-xl-9">
					{{ tmf.management_form }}
					{% for tmForm in tmf %}
					<div class="info-box teammate-info-box">
						<div class="box-title-container">
							{% if forloop.counter == 1 %}
							<h2 class="box-title">Thành viên 1 (Đội Trưởng)</h2>
							{% else %}
								{% if forloop.counter == 4 %}
								<h2 class="box-title">Người phụ trách</h2>
								{% else %}
								<h2 class="box-title">Thành viên {{ forloop.counter }}</h2>
								{% endif %}
							{% endif %}
						</div>
						<div class="box-info-container">
							<div class="box-info-wrapper mb-4">
								<div class="box-label-secondary">Họ và tên</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.Fullname }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.Fullname.errors }}</small>
							</div>
							{% if team_type == 'University' %}
							<div class="box-info-wrapper mb-4">
								<div class="box-label-secondary">MSSV</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.MSSV }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.MSSV.errors }}</small>
							</div>
							{% endif %}
							<div class="box-info-wrapper mb-4">
								<div class="box-label-secondary">CMND/CCCD</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.CMND_CCCD }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.CMND_CCCD.errors }}</small>
							</div>
							<div class="box-info-wrapper mb-4">
								<div class="box-label-secondary">Số điện thoại</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.Phone }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.Phone.errors }}</small>
							</div>
							<div class="box-info-wrapper mb-4">
								<div class="box-label-secondary">Tên trường</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.School }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.School.errors }}</small>
							</div>
							{% if forloop.counter == 4 %}
							<div class="box-info-wrapper">
								<div class="box-label-secondary">Chức vụ</div>
								<div class="box-value-wrapper d-flex align-items-center">
									<div class="box-value-divider"></div>
									<div class="box-value">
										{{ tmForm.JobTitle }}
									</div>
								</div>
								<i id="valid_team" class="fa-solid fa-circle-check"></i>
								<i id="invalid_team" class="fa-solid fa-circle-exclamation"></i>
								<small class="box-value-error">{{ tmForm.JobTitle.errors }}</small>
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="btn-container col-xxl-8 col-xl-9 row" id="profile-btn-container">
					<a class="col-xl-4 col-lg-12 d-flex justify-content-center align-items-center" href="{% url 'register:profile' %}">
						<button type="button" class="exit-btn">Trở về</button>
					</a>
					<div class="col-xl-8 col-lg-12 d-flex justify-content-center align-items-center">
						<button type="submit" id="submit_btn" class="edit-btn">Cập nhật thông tin</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endif %}
{% endblock main %}