{% extends 'register/navigations.html' %}

{% load static %}

{% load socialaccount %}

{% block include-css %}
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/login.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
{% endblock include-css %}

{% block content %}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 60px">
				<strong>
					{{ message }}
				</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
	{% endfor %}
{% endif %}


<div class="hero-banner">

	<img src="{% static 'register/images/elements2023/UCPC@4x.png' %}" width="327" height="490" alt="Ucpc" class="ucpc-block">

	<img src="{% static 'post/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

	<img src="{% static 'post/images/Ucpc_block.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

</div>

<img src="{% static 'post/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

<img src="{% static 'post/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">

<div class="form-container">
<div class="login-card">
	<div class="column">
		<h1>Đăng nhập</h1>
		<form method="POST">
			{% csrf_token %}
			<div class="form-item">
				<label for="email">Địa chỉ Email</label>
				<input type="text" id="email" name="email" class="form-element" required>
			</div>
			<div class="form-item">
				<label for="password">Mật khẩu</label>
				<input type="password" id="password" name="password" class="form-element" required>
			</div>
    			{% for message in messages %}
				<div class="messages">
      				{% if message.tags == 'error' %}
        				<p style="white-space: pre-wrap;"class="error">{{ message }}</p>
      				{% endif %}
				</div>

    			{% endfor %}
			<div class="flex">
				<button type="submit" class="btn btn-primary">Đăng nhập</button>
				<span>Quên mật khẩu? <a href="/password_reset">Đặt lại mật khẩu</a></span>
			</div>
			<div class="separator">Or</div>

			<div class="sign-in-with-google">
				<a class="google-button" href="{% provider_login_url 'google' %}">
					<img width=30 src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">
				  Đăng nhập với Google
				</a>
			</div>

		</form>
	</div>
	<div class="column" style="display:none;">
		<h2>Welcome to UCPC</h2>
		<p>If you don't have an account, would you like to register right now</p>
		<a href="{% url 'register:register' %}">Sign Up</a>
	</div>
</div>
</div>



{% endblock content %}