{% extends 'register/main.html' %}
{% load static %}

{% block main %}
<div class="container">
	<a href="{% url 'register:home' %}">
		<div class="topbar d-flex flex-row">
			<img class="logo" src="../../static/register/images/introduction/logo3.jpg" style="width: 100px; height: 100px;" />
			<div class="logo-title d-flex flex-column" >UIT Collegiate Programming Contest</div>
		</div>	
	</a>
	<div class="divider-container d-flex align-items-center justify-content-center">
		<div class="divider"></div>
	</div>
	{% for message in messages %}
	<div class="message-container">
		<p class="messages">{{message}}</p>
	</div>
	{% endfor %}
	<div class="title-container">
		<h1 class="title">Hồ sơ đội thi UCPC</h1>
	</div>
	<div class="info-container" style="margin-bottom: 300px;">
		<div class="general_info">
			<div class="info-box">
				<div class="box-title-container">
					<h2 class="box-title">Thông tin đội</h2>
				</div>
				<div class="box-info-container">
					<div class="box-info-wrapper" style="margin-bottom: 40px;">
						<div class="box-label-primary">Tên đội</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ team.TeamName }}
							</div>
						</div>
					</div>
					<div class="box-info-wrapper" style="margin-bottom: 40px;">
						<div class="box-label-primary">Email</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ user_email }}
							</div>
						</div>
					</div>
					<div class="box-info-wrapper">
						<div class="box-label-primary">Hạng</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{% if team.Rank %}
								{{ team.Rank }}
								{% else %}
								<span class="" style="color: #CD1111; font-weight: 450;">Chưa cập nhật</span>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if teammates %}
		<div class="teammate_container">
			{% for teammate in teammates %}
			<div class="info-box" style="margin-top: 70px">
				<div class="box-title-container">
					{% if teammate.Occupation == 'TC' %}
					<h2 class="box-title">Người phụ trách</h2>
					{% else %}
						{% if teammate.Leader == True %}
						<h2 class="box-title">Thành viên 1(Đội Trưởng)</h2>
						{% else %}
						<h2 class="box-title">Thành viên {{ forloop.counter }}</h2>
						{% endif %}
					{% endif %}
				</div>
				<div class="box-info-container">
					<div class="box-info-wrapper" style="margin-bottom: 40px;">
						<div class="box-label-secondary">Họ và tên</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ teammate.Fullname }}
							</div>
						</div>
					</div>
					<div class="box-info-wrapper" style="margin-bottom: 40px;">
						<div class="box-label-secondary">MSSV/CCCD</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ teammate.MSSV_CMND }}
							</div>
						</div>
					</div>
					<div class="box-info-wrapper" style="margin-bottom: 40px;">
						<div class="box-label-secondary">Số điện thoại</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ teammate.Phone }}
							</div>
						</div>
					</div>
					<div class="box-info-wrapper">
						<div class="box-label-secondary">Tên trường</div>
						<div class="box-value-wrapper d-flex align-items-center">
							<div class="box-value-divider"></div>
							<div class="box-value">
								{{ teammate.School }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if team.FeePaymnet == True %}
			<div class="status-container">
				<div class="fee-title">Tình trạng lệ phí: </div>
				<span class="fee-status" style="color: #2FEC42;">Đã thanh toán</span>
			</div>
		{% else %}
			<div class="fee-qr d-flex flex-row justify-content-between row">
				<div class="info-container d-flex flex-column justify-content-around col-lg-8 col-md-12">
					<div class="status-container">	
						<div class="fee-title">Tình trạng lệ phí: </div>
						<span class="fee-status" style="color: #CD1111;">Chưa thanh toán</span>
					</div>
					<div class="content-container">
						<h2 class="fee-title">Lệ phí: 90.000 VND/team</h2>
						<h3 class="fee-label">Xin vui lòng chuyển khoản với nội dung</h3>
						<p class="fee-content">"Tên đội_DONG TIEN UCPC_2023"</p>
					</div>
				</div>
				<div class="qr-container col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
					<div class="qr-img-1 d-flex justify-content-center align-items-center">
						<div class="qr-img-2 d-flex justify-content-center align-items-center">QR</div>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="btn-container row" id="profile-btn-container">
			<a class="col-xl-4 col-lg-12" href="{% url 'register:home' %}">
				<button type="button" class="exit-btn">Trở về</button>
			</a>
			<a class="col-xl-8 col-lg-12" href="{% url 'register:edit' %}">
				<button type="button" class="edit-btn">Chỉnh sửa thông tin</button>
			</a>
		</div>
	</div>
</div>
{% endblock main %}