<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>UIT Collegiate Programming Contest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<base href="/">

	<link rel="shortcut icon" type="image/png" href="{% static 'register/images/introduction/logoBGpurple.svg' %}"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'register/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/myStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/main.css' %}">

	<script src="https://kit.fontawesome.com/dadc55c5f1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<div>
		{% block main %}


		{% endblock main %}
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>


	<script src="{% static 'register/javascript/registration.js' %}"></script>
	<!-- <script src="{% static 'register/javascript/timer.js' %}"></script> -->
	<!-- <script src="{% static 'register/javascript/renderRegistrationPage.js' %}"></script> -->
</body>

</html>