{% extends 'register/navigations.html' %}
{% load static %}
{% load socialaccount %}

{% block login-register %}
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block content %}
{% if isTimeOver %}
<div class="container" style="margin-top: 15px;">
	<h1 style="font-weight: bold;">Đã hết  thời gian đăng ký!</h1>
</div>		
{% else %}

<div class="hero-banner">

	<img src="{% static 'register/images/elements2023/UCPC@4x.png' %}" width="327" height="490" alt="Ucpc" class="w-100">

	<img src="{% static 'post/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

	<img src="{% static 'post/images/Ucpc_block.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

</div>

<img src="{% static 'post/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

<img src="{% static 'post/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">

<div class="form-container">
	<div class="register-card">
		<div class="column">
			<h1>Sign up</h1>
			<form id=register-form method="POST">
				{% csrf_token %}
				<div class="form-item">								
					{{ uf.email }}
					<i id="valid_email" class="fa-solid fa-circle-check" style="margin-left: -50px;display:none;"></i>
					<i id="invalid_email" class="fa-solid fa-circle-exclamation" style="margin-left: -50px;display:none;"></i>
					<small class="error">{{ uf.email.errors }}</small>
				</div>
				<div class="form-item">
					{{ uf.password1 }}
					<i id="valid_password" class="fa-solid fa-circle-check" style="margin-left: -50px;display:none;"></i>
					<i id="invalid_password" class="fa-solid fa-circle-exclamation" style="margin-left: -50px;display:none"></i>
					<small class="error">{{ uf.password1.errors }}</small>

					<ul class="password-validation">
						<li class="length-validation">Password contains at least 6 characters</li>
						<li class="number-validation">Must contain number</li>
						<li class="character-validation">At least one lowercase, one uppercase letter</li>
					</ul>

				</div>
				<div class="form-item">
					{{ uf.password2 }}
					<i id="valid_rpassword" class="fa-solid fa-circle-check" style="margin-left: -50px;display:none;"></i>
					<i id="invalid_rpassword" class="fa-solid fa-circle-exclamation" style="margin-left: -50px;display:none;"></i>
					<small class="error">{{ uf.password2.errors }}</small>

				</div>
				<label class="terms">
					<input type="checkbox" id="terms-checkbox" style="display:none;">
					<span class="switch"></span>
					I accept the <a style="color:#4CF2D2;" target="_blank" href="https://drive.google.com/file/d/1MsaQpCsLPPy36R9VYJEh6hDS4v2pHHHB/view?usp=sharing">terms of service</a>
				</label>	
				<div id="error-message" style="color: #f44336; display: none;">You must accept the terms of service.</div>
				<div class="flex">		  
					<button type="submit" class="btn btn-primary">Create Account</button>
				</div>
				<p style="margin-top:3rem;margin-bottom:1.5rem">Other sign-up methods</p>
				<div class="sign-in-with-google">
					<a class="google-button" href="{% provider_login_url 'google' %}">
						<img width=30 src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">
					  Sign in with Google
					</a>
				</div>
			</form>
		</div>
		<div class="column">
			<h2>Welcome to UCPC</h2>
			<p>If you don't have an account, would you like to register right now</p>
			<a href="{% url 'register:register' %}">Sign Up</a>
		</div>
	</div>
	</div>
	
	

{% endif %}
{% endblock content %}