@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900');


.box-time__img {
    position: absolute;
    opacity: var(--opacity);
    height: -webkit-fill-available;
}

.countdown {
    padding-top: 100px;
}

.countdown-info {
    display: flex;
    padding-left: 16px;
    align-items: center;
    justify-content: center;
}

.countdown-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--primary1-color);
    padding-right: 20px;
}

.countdown-end {
    font-size: 6.0rem;
    font-weight: 100;
    color: #fff;
    padding-left: 20px;
}


#time{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);

}

#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}


#time div {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
}

#time div span {
    position: absolute;
    transform: translateX(-50%);
    font-size: 0.35em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}