* {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  /* margin-bottom: 0px; */
}


#introduction_slider {
  height: auto;
}
/* Style for countdown */
#countdown
{
  background-color: #130820;   
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  min-height: 200px;
  padding-top: 38px;
  padding-bottom: 35px;
  margin-bottom: 40px;
  color: white;
}

#countdown #countdown_info div
{
  color: white;
  padding-bottom: 0px;
}

#countdown #countdown_info div h1
{
  font-size: 48px;
  font-weight: bold;
}

#countdown #countdown_info h4
{
  color: fff;
  font-size: 27px;
}

/* #countdown_clock {
  margin-bottom: 0px;
}

#countdown_clock li span
{
  display: block;
  font-size: 2.5rem;
}

#countdown_clock li
{
  font-weight: bold;
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  color: #482b78;
  background-color: white;
  width: 121px;
  height: 121px;
  text-align: center;
  margin-left: 0px;
}

#countdown_clock h6
{
  text-align: center;
} */


#countdown_system .row .clock
{
background-color: white;
text-align: center;
align-items: center;
height: 120px;
border: 5px #130820 solid ;
}
#countdown_system .row .clock div {
padding-top: 15px ;
}

#countdown_system .row .clock p
{
/* padding-top: 10px; */
text-align: center;
color: #130820;
text-transform: uppercase;
font-size: 25px;
font-weight: bold;
}
#countdown_system .row .clock span
{
/* padding-top: px; */
text-align: center;
color: #130820;
font-weight: bold;
font-size: 30px;
}

#services .container {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  padding-bottom: 45px;
}

#services .container h1 {
  font-size: 60px;
  font-weight: bold;
  color: #482b78;
}

/* Style for countdown */



/* Style for timeline */
.timeline {
position: relative;
width: 100%;
max-width: 1140px;
margin: 0 auto;
padding: 15px 0;
border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.timeline::after {
content: '';
position: absolute;
width: 2px;
background: #fff;
top: 0;
bottom: 0;
left: 50%;
margin-left: -1px;
}

.timeline .container {
padding: 15px 30px;
position: relative;
background: inherit;
width: 50%;
}

.timeline .container.left {
left: -27%;
}

.timeline .container.right {
left: 27%;
}

.timeline .container::after {
content: '';
position: absolute;
width: 16px;
height: 16px;
top: calc(50% - 8px);
right: -31px;
background: #fff;
border: 2px solid #fff;
border-radius: 16px;
z-index: 1;
}

.timeline .container.right::after {
left: -31px;
}

.timeline .container::before {
content: '';
position: absolute;
width: 82px;
height: 2px;
top: calc(50% - 1px);
right: -22px;
background: #fff;
z-index: 1;
}

.timeline .container.right::before {
left: -23px;
}

.timeline .container .date {
position: absolute;
display: inline-block;
top: calc(50% - 8px);
text-align: center;
font-size: 15px;
font-weight: bold;
color: #006E51;
text-transform: uppercase;
letter-spacing: 1px;
z-index: 1;
}

.timeline .container.left .date {
right: -75px;
}

.timeline .container.right .date {
left: -75px;
}

.timeline .container .icon {
position: absolute;
display: inline-block;  
width: 40px;
height: 40px;
padding: 9px 0;
top: calc(50% - 20px);
background: #fff;
border: 2px solid #fff;
border-radius: 40px;
text-align: center;
font-size: 18px;
color: #130820;
z-index: 1;
}

.timeline .container.left .icon {
right: 56px;
}

.timeline .container.right .icon {
left: 56px;
}

.timeline .container .content {
padding: 30px 90px 30px 30px;
background: #4CF2D2;
position: relative;
/* border-radius: 0 500px 500px 0; */
}

.timeline .container.right .content {
padding: 30px 30px 30px 90px;
/* border-radius: 500px 0 0 500px; */
}

.timeline .container .content h2 {
margin: 0 0 10px 0;
font-size: 18px;
font-weight: normal;
color: #130820;
}

.timeline .container .content p {
margin: 0;
font-size: 16px;
line-height: 22px;
color: #000000;
}

.timeline .container .date {
color: white;
}

@media (max-width: 767.98px) {
.timeline .head {
  text-align: center;
}
.timeline::after {
  left: 33px;
}
.timeline .container.left {
  left: -8.5%;
}
.timeline .container {
  width: 100%;
  padding-left: 120px;
  padding-right: 30px;
}

.timeline .container.right {
  left: -8.5%;
}

.timeline .container.left::after, 
.timeline .container.right::after {
  left: 58px;
}

.timeline .container.left::before,
.timeline .container.right::before {
  left: 68px;
  border-color: transparent #006E51 transparent transparent;
}

.timeline .container.left .date,
.timeline .container.right .date {
  right: auto;
  left: 15px;
}

.timeline .container.left .icon,
.timeline .container.right .icon {
  right: auto;
  left: 146px;
}

.timeline .container.left .content,
.timeline .container.right .content {
  padding: 30px 30px 30px 90px;
  /* border-radius: 500px 0 0 500px; */
}
}
/* Style for timeline */


/* UCPC */
#ucpc .container {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  padding-bottom: 40px;
}

#rules .container {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

/* UCPC */
/* Style for reward */

#reward {
  min-height: 250px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  /* margin-top: 0px; */
  align-items: center;
  padding-top: 40px;
}

#reward #total_reward h1, h5
{
  color: white;
  /* font-weight: bold; */
}

#reward #total_reward h1
{
  font-size: 2.5rem;
}

#reward .row #total_reward p
{
  width: 450px;
  height: 80px;
  background-color: white;
  color: #ffdb19;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#reward .row #total_reward img
{
  width: 480px;
  height: 139x;
}

#reward_information {
  /* text-align: center; */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: end;
  overflow-x: hidden;
}

#reward_information p
{
  background-color: #4cf2d2;
  color: #130820;
  
  /* border-radius: 8px; */
  height: 64px;
  text-align: center;
  min-width: 214px;
  font-weight: 600;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  text-decoration: none;
}

#reward #reward_information p:hover {
background-color: #fff;
color: #130820;
border-style: none;
text-decoration: unset;
}

#reward #reward_information a:hover {
text-decoration: none;
}



/* Style for reward */


/* organizers */
#organizers .container
{
  min-height: 210px;
  background-color: #130820;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

#organizers h5
{
  font-size: 25px;
  font-weight: bolder;
  color:white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#organizers .unit_logo .row    
{
  align-items: center;
  text-align: center;
}

#organizers .unit_logo .unit .UIT {
  width: 85%;
  padding-bottom: 5px;
}

#organizers .unit_logo .unit .HSV {
  width: 69%;
}

#organizers .unit_logo .unit .CS {
  padding-top: 8px;
  width: 115%;
}

#organizers .unit_logo .unit .UCPC {
  width: 70%;
}

/* sponsors */
#sponsors .container
{
  min-height: 250px;
  background-color: #130820;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

#sponsors h5
{
  font-size: 25px;
  font-weight: bolder;
  color:white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sponsors .unit_logo .row    
{
  align-items: center;
  text-align: center;
}

#sponsors .gold_sponsor .unit_logo .unit .Autonomous {
  width: 80%;
}

#sponsors .gold_sponsor .unit_logo .unit .Citynow {
  width: 80%;
  margin-bottom: 20px;
}

#sponsors .gold_sponsor .unit_logo .unit .Gianty {
  width: 80%;
}

#sponsors .gold_sponsor .unit_logo .unit .TMA {
  width: 80%;
}

#sponsors .gold_sponsor .unit_logo .unit .McKinsey {
  width: 80%;
  margin-bottom: 20px;
}

#sponsors .silver {
  margin-left: 90px;
}

#sponsors .silver_sponsor .unit_logo .unit .sun_studio {
  padding-top: 35px;
  width: 70%;
}

/* footer */
#footer
{
  background-image: url(/static/register/images/footer/background.png);
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 400px;
  background-color: #130820;
  background-position: bottom center;
}

/* #footer .container {
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
} */


#footer h5
{
  font-size: 25px;
  font-weight: bolder;
  color:white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#footer .support img {
  width: 16%;
}

#footer .contact .row{
  align-items: center;
  text-align: center;
}

#footer .contact .row img {
  width: 40px;
  margin-top: 15px;
}
#footer .contact .row .unit_fb {
  text-align: right;
}

#footer .contact .row .unit_gm {
  text-align: left;
}

@media only screen and (max-width: 768px)
{
  #introduction_slider {
      height: auto;
  }
  #countdown {
      text-align: center;
      align-items: center;
  }

  #reward {
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
  }
  #reward #total_reward h1{
    font-size: 30px;
  }
  #reward .row #total_reward img {
    width: 95%;
  }
  /* #footer .sponsor .unit_logo .unit img
  {
  width: 60px;
  } */

  #footer .contact .row img {
    width: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  #organizers .unit_logo .unit .UIT {
    width: 100%;
  }
  
  #organizers .unit_logo .unit .HSV {
    width: 90%;
  }
  
  #organizers .unit_logo .unit .CS {
    width: 130%;
  }
  
  #organizers .unit_logo .unit .UCPC {
    width: 90%;
  }
}

@media only screen and (max-width: 450px)
{
  #reward_information {
    margin-top: 50px;
    justify-content: center;
  }

  .navbar .btn {
    margin-left: 20px;
    margin-right: 0;
  }

  #introduction_slider {
      height: auto;
  }

  #countdown {
      text-align: center;
      align-items: center;
  }

  #countdown #countdown_info div h1
  {
      font-size: 28px;
      font-weight: bold;
  }
  
  #countdown #countdown_info h4
  {
      color: #fff;
      font-size: 18px;
  }

  #reward #total_reward h1{
    font-size: 23px;
  }

  #timeline .head {
    font-size: 2rem;
  }

  #footer h5
  {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #organizers h5
  {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 543px)
{
  #countdown #countdown_system #countdown_clock #second_450{
    margin-top: 5px;
  }
  #footer h5
  {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #footer .contact .row img {
    width: 35px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  #organizers .container
  {
    min-height: 150px;
  }

  #organizers h5
  {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #organizers .unit_logo .unit .UIT {
    width: 100%;
  }
  
  #organizers .unit_logo .unit .HSV {
    width: 88%;
  }
  
  #organizers .unit_logo .unit .CS {
    width: 130%;
  }
  
  #organizers .unit_logo .unit .UCPC {
    width: 85%;
  }

  #sponsors h5
  {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #sponsors .gold_sponsor .unit_logo .unit .Autonomous {
    width: 100%;
  }
  
  #sponsors .gold_sponsor .unit_logo .unit .Citynow {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #sponsors .gold_sponsor .unit_logo .unit .Gianty {
    width: 100%;
  }
  
  #sponsors .gold_sponsor .unit_logo .unit .TMA {
    width: 100%;
  }
  
  #sponsors .gold_sponsor .unit_logo .unit .McKinsey {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #sponsors .silver {
    margin-left: 0 !important;
  }

  #sponsors .silver_sponsor .unit_logo .unit .sun_studio {
    padding-top: 0;
    width: 30%;
  }

  #trans_infor {
    margin-top: 15px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }

  #footer {
    background-size: 160%;
    min-height: 230px;
  }

  #footer .support img {
    width: 38%;
  }
}
@media only screen and (max-width: 992px) 
{
  #footer .contact .row img {
    width: 35px;
    margin-top: 0px;
  }

  #reward {
    padding-bottom: 40px;
    text-align: center;
  }
}

#registration_form .other_school input{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}