* {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}


#introduction_slider {
  height: auto;
}
#countdown {
  position: relative;
  min-height: 500px;
  padding-top: 100px;
}


/* UCPC */

#ucpc {
  margin-top: 64px;
  overflow: hidden;
}

/* reward */

#reward {
  min-height: 500px;
  position: relative;
  padding-top: 2%;
}

/* Style for reward */
#timeline {
  position: relative;
  overflow: hidden;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
 

/* introduce */
#introduce {
  overflow: hidden;
  position: relative;
}

/* footer */
#footer { 
  border-top: 1px solid;
  position: relative;
  overflow: hidden;
}