* {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--primary3-color);
  text-decoration: underline;
}

a:hover {
  color: var(--primary1-color);
}


#introduction_slider {
  height: auto;
}

#countdown {
  position: relative;
  min-height: 500px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
}


/* UCPC */

#ucpc {
  margin-top: 64px;
}

/* reward */

#reward {
  min-height: 500px;
  position: relative;
  padding: 100px 0;
}

/* Style for reward */
#timeline {
  position: relative;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
 

/* introduce */
#introduce {
  overflow: hidden;
  position: relative;
}

/* footer */
#footer { 
  border-top: 1px solid;
  position: relative;
  overflow: hidden;
}