.information {
    display: flex;
    min-height: 500px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 70px 0;
}

.inf-description {
    padding-left: 32px;
    z-index: 10;
}

.inf-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--primary3-color);
}

.inf-text {
    font-size: 1.6rem;
    text-align: justify;
    color: var(--primary1-color);
}

.inf-img {
    position: relative;
    z-index: 10;
    top: -14%;
    right: -6%;
}

.inf-img img {
    width: 80%;
}

.inf-img__absolute--XL {
    position: absolute;
    top: 0px;
    left: -4%;
}

.inf-img__absolute--XL img {
    width: 35%;
    opacity: var(--opacity);
}

.inf-img__absolute--L {
    position: absolute;
    top: 58%;
    left: 65%;
}

.inf-img__absolute--L img {
    width: 35%;
    opacity: var(--opacity);
}

.inf-img__absolute--M {
    position: absolute;
    bottom: -4%;
    left: 15%;
}

.inf-img__absolute--M img {
    width: 15%;
    opacity: var(--opacity);
}
