.introduce {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 30px;

}

.organizers {
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
    flex-direction: column;
}

.organizers-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: var(--primary1-color);
    padding: 48px 0 0;
}

.organizers-logo {
    text-align: center;
}

.organizers-logo img {
    width: 80px;
    margin: 50px 16px;
}

.organizers-fourlogo {
    width: 450px !important;
}

.organizers-CS {
    width: 100px !important;
}

.organizers-UCPC {
    width: 70px !important;
}

.sponsors {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.sponsors-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: var(--primary1-color);
    padding: 48px 0 0;
}

.sponsors-info {
    border-left: 1px solid var(--primary3-color);
    padding: 40px 320x 16px;
    min-height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sponsors-type {
    font-size: 2.2rem;
    color: var(--primary1-color);
}

.sponsors-logo {
    display: flex;
    align-items: center;
    padding: 24px;
    justify-content: center;
}

.sponsors-logo__box {
    display: flex;
    flex-direction: column;
}

.sponsors-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 18px;
}

.sponsors-logo__box img {
    width: 150px;
    margin: 8px 8px;
}

.TMA {
    width: 150px;
    margin: 0 16px 0 0;
}

.sun_studio {
    width: 150px;
}

.VNG {
    width: 150px;
}

.introduce-img__absolute--XXXL {
    position: absolute;
    bottom: -35%;
    right: -24%;
}

.introduce-img__absolute--XXXL img {
    width: 55%;
    opacity: var(--opacity);
}

.introduce-img__absolute--XL {
    position: absolute;
    top: 2%;
    left: 4%;
}

.introduce-img__absolute--XL img {
    width: 35%;
    opacity: var(--opacity);
}

.introduce-img__absolute--L {
    position: absolute;
    bottom: 8%;
    left: 36%;
}

.introduce-img__absolute--L img {
    width: 25%;
    opacity: var(--opacity);
}

.introduce-img__absolute--M {
    position: absolute;
    top: 6%;
    left: 85%;
}

.introduce-img__absolute--M img {
    width: 40%;
    opacity: var(--opacity);
}

.introduce-img__absolute--S {
    position: absolute;
    bottom: 20%;
    left: 16%;
}

.introduce-img__absolute--S img {
    width: 10%;
    opacity: var(--opacity);
}

.introduce-bg {
    width: 100%;
}