:root {
    --primary1-color: #A6E3E9;
    --primary2-color: #06283D;
    --primary3-color: #71C9CE;
    --opacity: 0.3
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    background-color: var(--primary2-color);
    color: white;
}


.Navbar .Btn {
    background-color: #4cf2d2;
    color: #130820;
}

.Navbar .Btn:hover {
    color: #130820;
    background-color: #fff;
}

