* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.profile-container {
    padding-left: 10vw;
    padding-right: 10vw;
}
.logo-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 146px;
    color: #FFFFFF;
}
.logo {
    width: 100px;
    height: 100px;
    margin-right: 0.5rem
}
.topbar {
    margin-top: 5vh;
    margin-bottom: 4vh;
}
.divider-container {
    position: relative;
}
.divider {
    border: 1px solid #71C9CE;
    width: 104%;
    position: absolute;
}
.title-container {
    margin-top: 50px;
    margin-bottom: 85px;
}
.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 73px;
    color: #FFFFFF;
}
.fee-status {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.fee-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
}
.info-box {
    border: 2px solid #71C9CE;
    border-radius: 48px;
    box-sizing: border-box;
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 6rem;
    position: relative;
}
.teammate-info-box {
    margin-top: 8rem;
}
.box-title-container {
    position: absolute;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    left: 3.5rem;
    top: -3rem;
    background: #06283D;
}
.box-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 5.8rem;
    color: #FFFFFF;
}
.box-info-container {
    position: relative
    /* margin-top: 75px;
    margin-left: 45px;
    margin-right: 45px */
}
.box-label-primary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box-label-secondary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box-value-wrapper {
    height: 5rem;
    background: #D9D9D9;
    border-radius: 32px;
}
.box-value-divider {
    width: 3.4rem;
    margin-left: 5%;
    border: 0.5px solid #000000;
    transform: rotate(90deg);
}
.box-value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
    width: 85%;
    position: relative;
}
.box-value-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #CD1111;
}
.errorlist {
    margin-top: 6px;
    margin-left: 7%;
}
.box-value-hint {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-left: 7%;
}
.form-box-control {
    border: none;
    outline: none;
    background: #D9D9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
    width: 95%;
    height: 100%
}
.select2-container {
    border: none;
    outline: none;
    background: #D9D9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
    height: 100%
}
.select2-selection {
    border: none !important;
    outline: none;
    background-color: #D9D9D9 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
    height: 100%
}
.select2-results__option {
    background: #D9D9D9 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #06283D;
}
.select2-results__option--highlighted {
    background: #A7A7A7 !important;
    color: #06283D !important;
}
.select2-results__option--disabled {
    display: none;
}

input.form-box-control:focus {
    border: none;
    outline: none;
}
#profile-btn-container {
    margin-top: 13vh;
}
.exit-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #06283D;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.register-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #71C9CE;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.edit-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #71C9CE;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
a {
    text-decoration: none !important;
    text-transform: none;
}
.legal-container {
    margin-bottom: 2vh;
    margin-left: 20px
}
#agree_check {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}
.legal-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 10px;
}
.fee-qr {
    margin-top: 8vh
}
.fee-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 51px;
    color: #FFFFFF;
}
.fee-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #71C9CE;
    margin-top: 25px
}
.fee-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #71C9CE;
}
.qr-payment {
    width: 100%;
    aspect-ratio: 1/1;
}
.qr-icon {
    width: 20%;
    position: absolute;
}
.message-container {
    margin-top: 40px;   
    margin-right: 20px;
    border: 2px solid #71C9CE;
    border-radius: 32px;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.messages {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}
.modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
}
.modal-content {
    height: 65vh;
    background: #06283D;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
}
.modal-background {
    position: absolute;
}
#modal-block-1 {
    position: absolute;
    height: 7rem;
    width: 6.25rem;
    top: 10%;
    left: 5%;
}
#modal-block-2 {
    position: absolute;
    height: 20rem;
    width: 18.5rem;
    bottom: 7%;
    left: 8.8%;
}
#modal-block-3 {
    position: absolute;
    height: 22rem;
    width: 20.5rem;
    top: 0;
    right: -2%;
}
#modal-block-4 {
    position: absolute;
    height: 16rem;
    width: 14.5rem;
    bottom: 5%;
    right: 11%;
}
.option-block {
    background: #06283D;
    opacity: 0.6;
    border: 2px solid #71C9CE;
    border-radius: 32px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.1s;
}
.option-block:hover {
    background: #71C9CE;
    border: 2px solid #71C9CE;
    border-radius: 32px;
    color: #06283D;
    font-weight: 650;
    opacity: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background: #D9D9D9 !important;
    border: none;
    outline: none;
    color: #06283D !important;
    appearance: none !important;
}

/* Responsive style */
@media (max-width: 1200px) {
    .edit-btn {
        margin-top: 40px
    }
}

@media (max-width: 992px) {
    .qr-container {
        margin-top: 40px;
    }
    .box-title {
        font-size: 42px
    }
    .fee-title {
        font-size: 42px
    }
    .fee-status {
        font-size: 26px
    }
    .box-label-primary {
        font-size: 30px;
    }
    .box-label-secondary {
        font-size: 22px;
    }
    .info-box {
        padding-top: 6rem;
    }
    .box-value {
        font-size: 16px;
    }
    .box-value-wrapper {
        height: 4rem;
    }
    .edit-btn, .exit-btn, .register-btn {
        font-size: 36px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .messages {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

@media (max-width: 768px) {
    #modal-block-1, #modal-block-2, #modal-block-3, #modal-block-4 {
        display: none;
    }
    .box-title {
        font-size: 34px
    }
    .fee-title {
        font-size: 34px
    }
    .fee-status {
        font-size: 26px
    }
    .box-label-primary {
        font-size: 28px;
    }
    .box-label-secondary {
        font-size: 20px;
    }
    .info-box {
        padding-top: 5rem;
    }
    .box-value {
        font-size: 16px;
    }
    .box-value-wrapper {
        height: 4rem;
    }
    .edit-btn, .exit-btn, .register-btn {
        font-size: 34px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .legal-label {
        font-size: 14px;
    }
    .box-value-hint {
        font-size: 10px
    }
    .messages {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 5rem
    }
    .box-title {
        font-size: 28px
    }
    .fee-title {
        font-size: 28px
    }
    .fee-status {
        font-size: 18px
    }
    .fee-label, .fee-content {
        font-size: 14px
    }
    .box-label-primary {
        font-size: 26px;
    }
    .box-label-secondary {
        font-size: 18px;
    }
    .info-box {
        padding-top: 4rem;
    }
    .box-value {
        font-size: 14px;
    }
    .box-value-wrapper {
        height: 4rem;
    }
    .edit-btn, .exit-btn, .register-btn {
        font-size: 28px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .legal-label {
        font-size: 12px;
    }
    .box-value-hint {
        font-size: 10px
    }
    .messages {
        font-size: 14px
    }
    .messages {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media (max-width: 530px) {
    .title {
        font-size: 5rem;
    }
    .box-title {
        font-size: 24px;
    }
    .fee-title {
        font-size: 24px
    }
    .fee-status {
        font-size: 16px
    }
    .fee-label, .fee-content {
        font-size: 14px
    }
    .box-label-primary {
        font-size: 20px;
    }
    .box-label-secondary {
        font-size: 16px;
    }
    .info-box {
        padding-top: 3rem;
    }
    .box-value {
        font-size: 12px;
    }
    .box-value-wrapper {
        height: 4rem;
    }
    .edit-btn, .exit-btn, .register-btn {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .legal-label {
        font-size: 12px;
    }
    .box-value-hint {
        font-size: 10px
    }
    .messages {
        font-size: 14px
    }
    .messages {
        padding-left: 4.5vw;
        padding-right: 4.5vw;
    }
}


