* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 146px;
    color: #FFFFFF;
}
.logo {
    margin-right: 7px
}
.topbar {
    margin-top: 55px;
    margin-bottom: 45px;
}
.divider-container {
    position: relative;
}
.divider {
    border: 2px solid #71C9CE;
    width: 110%;
    position: absolute;
}
.title-container {
    margin-top: 50px;
    margin-bottom: 85px;
}
.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
}
.fee-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    display: inline;
}
.fee-status {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #CD1111;
}
.info-box {
    border: 2px solid #71C9CE;
    border-radius: 48px;
    box-sizing: border-box;
    padding-top: 75px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 55px;
    position: relative;
}
.box-title-container {
    position: absolute;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    left: 34px;
    top: -29px;
    background: #06283D;
}
.box-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.box-info-container {
    position: relative
    /* margin-top: 75px;
    margin-left: 45px;
    margin-right: 45px */
}
.box-label-primary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box-label-secondary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box-value-wrapper {
    height: 50px;
    background: #D9D9D9;
    border-radius: 32px;
}
.box-value-divider {
    width: 32px;
    margin-left: 55px;
    margin-right: 10px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}
.box-value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
    width: 85%;
}
.box-value-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.errorlist {
    margin-top: 6px;
    margin-left: 71px;
}
.box-value-hint {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-left: 71px;
}
.form-box-control {
    border: none;
    outline: none;
    background: #D9D9D9;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 19px;
    color: #06283D;
}
input.form-box-control:focus {
    border: none;
    outline: none;
}
#profile-btn-container {
    margin-top: 150px;
}
.exit-btn {
    background: #06283D;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    padding: 27px 101px 27px 101px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.register-btn {
    background: #71C9CE;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    padding: 27px 190px 27px 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.edit-btn {
    background: #71C9CE;
    border: 1px solid #71C9CE;
    border-radius: 32px;
    padding: 27px 190px 27px 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .edit-btn {
        margin-top: 40px
    }
}

@media (max-width: 992px) {
    .edit-btn {
        padding: 27px 150px 27px 150px;
    }
}

@media (max-width: 768px) {
    .edit-btn {
        padding: 27px 80px 27px 80px;
    }
}

a {
    text-decoration: none !important;
    text-transform: none;
}
.legal-container {
    margin-bottom: 20px;
    margin-left: 20px
}
#agree_check {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}
.legal-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 10px;
}
.fee-qr {
    margin-top: 95px
}
.fee-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
}
.fee-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #71C9CE;
    margin-top: 25px
}
.fee-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #71C9CE;
}
.qr-img-1 {
    width: 311px;
    height: 311px;
    background: #71C9CE;
    border-radius: 32px;
}
.qr-img-2 {
    width: 236px;
    height: 236px;
    background: #D9D9D9;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #000000;
}
@media (max-width: 992px) {
    .qr-container {
        margin-top: 40px;
    }
}
.message-container {
    margin-top: 40px;
    border: 2px solid #71C9CE;
    border-radius: 32px;
    width: fit-content;
    padding: 25px 30px 25px 30px;
}
.messages {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}