@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{--theme-color:#003782;}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    margin-bottom: unset;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color:unset;
    background-color: unset;
    background-image: url('../images/elements2023/UCPC@4x.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30%;
}

body::after{
    content: '';
    position: fixed;
    inset: 0;
    background-color: #06283D;
    width: 60%;
    height: 100vh;
    clip-path: polygon(0 100%, 0 0 , 100% 0 , 70% 100%);
    z-index: -1;
    background-image: url('../images/elements2023/block2@4x.png'), url('../images/elements2023/block2@4x.png'), url('../images/elements2023/block2@4x.png'), url('../images/elements2023/block2@4x.png');
    background-repeat: no-repeat;
    background-size: 5%, 10%, 15%, 15%;
    background-position: 0% 30%, 25% 95%, 80% 0%, 35% 50%;
}

nav{
   height:100px; 
   border: black;
    
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.register-card{
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black;
    width: 1200px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
}

.register-card a{
    text-decoration: var(--theme-color);
    color: var(--theme-color);
}

.register-card .column{
    padding: 4rem;

}

.register-card .column:last-child{
    background: url('../images/elements2023/bg_mail3.png') center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.register-card .column:last-child::after{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, white, #ffffff82);
    inset: 0;
}

.register-card .column:last-child *{
    z-index: 1;
}

.register-card .column:last-child a{
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    border: 2px solid var(--theme-color);
    color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s;
    font-weight: 600;

}

.register-card .column:last-child a:hover{
    background-color: var(--theme-color);
    color: white;

}
.register-card h1{
    margin-bottom:  15px;
}

.register-card .form-element{
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    transition:box-shadow .2s;
}

.register-card .form-element:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--theme-color);
}

.register-card input[type=checkbox] {
    accent-color: var(--theme-color);
    width: 16px;
    height: 16px;
}

.register-card form{
    margin-top: 3rem;
}

.register-card form >*{
    margin-top: 1rem;
}

.register-card form button{
    background-color: var(--theme-color);
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s;
}

.register-card form button:active{
    scale: .95;
    background-color: darken(var(--theme-color), 10%);

}

.register-card form .form-checkbox-item{
    gap: 2rem;
    margin-left: 5px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-buttons {
    display: flex;
    gap: 1rem;
}

.social-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 22px;
    color: white;
    transition: scale .2s;
}



.social-buttons a:hover{
    scale: .95;
}


.password-validation{
    margin-left: 50px;
    margin-top: 20px;
    color :#D3D3D3;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 20px;
    vertical-align: middle;
  }
  
  .switch:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: all 0.3s;
  }
  
  #terms-checkbox:checked + .switch {
    background-color: #007bff;
  }
  
  #terms-checkbox:checked + .switch:before {
    transform: translateX(20px);
  }

  label {
    display: inline-block;
    margin-bottom: 0; /* add this line to remove the default margin of the label element */
    vertical-align: middle; /* add this line to align the text vertically with the switch */
  }


/* Following the 2023 design concept  */
.register-card {
    display: block;
    width: 700px;
}

.register-card .column:last-child{
    display: none;
}

.flex{
    flex-direction: column;
    gap: 1rem;
}

.social-buttons{
    justify-content: center;
}

p {
    text-align: center;
}

/* Responsive */

@media (max-width: 992px){
    .register-card {
        display: block;
        width: 500px;
    }
    /* .register-card .column:last-child{
        display: none;
    }
    .flex{
        flex-direction: column;
        gap: 1rem;
    }

    .social-buttons{
        justify-content: center;
    }

    p {
        text-align: center;
    } */
}

/* Style the error messages */
.error {
    color: #f44336; /* red */
}

/* Style the success messages */
.success {
    color: #4CAF50; /* green */
}