.timeline-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--primary1-color);
    padding: 100px 0 70px 80px;
    position: relative;
    z-index: 10;
}

.schedule {
    overflow-x: scroll;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;
}
.schedule::-webkit-scrollbar {
    width: 10px;
}
.schedule::-webkit-scrollbar-thumb {
    background-color: var(--primary1-color);
    border-radius: 4px;
}

.timeline-line {
    display: flex;
}

.timeline-line__branch {
    min-width: 364px;
    height: 80px;
    background: transparent;
    border-top: 4px solid var(--primary3-color);
    border-left: 2px solid var(--primary3-color);
    border-right: 2px solid var(--primary3-color);
}

.timeline-line__branch:first-child {
    min-width: 365px;
    height: 80px;
    background: transparent;
    margin: 0 0 0 262px;
    border-top-left-radius: 40px;
    border-top: 4px solid var(--primary3-color);
    border-left: 4px solid var(--primary3-color);
    border-right: 2px solid var(--primary3-color);
}

.timeline-line__branch:last-child {
    min-width: 366px;
    height: 80px;
    background: transparent;
    border-top-right-radius: 40px;
    border-top: 4px solid var(--primary3-color);
    border-left: 2px solid var(--primary3-color);
    border-right: 4px solid var(--primary3-color);
}

.timeline {
    display: flex;
    padding: 0 80px;
}

.timeline-info {
    width: 300px;
    min-width: 300px;
    height: 280px;
    border: 1px solid var(--primary3-color);
    border-radius: 20px;
    margin: 0 32px 56px 32px;
    position: relative;
}

.timeline-info:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--primary3-color);
    background: #fff;
    top: -28px;
    left: 42%;
}

.timeline-info__moldy {
    color: #2fc1cf;
    padding: 30px 16px 16px;
    font-size: 2.4rem;
}

.timeline-info__description {
    text-align: justify;
    font-size: 1.8rem;
    color: var(--primary1-color);
    padding: 0 16px;
}

.timeline-img__absolute--XXXL {
    position: absolute;
    top: 10%;
    right: -30%;
}

.timeline-img__absolute--XXXL img {
    width: 55%;
    opacity: var(--opacity);
}

.timeline-img__absolute--XL {
    position: absolute;
    top: -8%;
    right: 16%;
}

.timeline-img__absolute--XL img {
    width: 35%;
    opacity: var(--opacity);
}

.timeline-img__absolute--L {
    position: absolute;
    bottom: 14%;
    left: 10%;
}

.timeline-img__absolute--L img {
    width: 25%;
    opacity: var(--opacity);
}

.timeline-img__absolute--M {
    position: absolute;
    bottom: 4%;
    right: -8%;
}

.timeline-img__absolute--M img {
    width: 15%;
    opacity: var(--opacity);
}

.timeline-img__absolute--S {
    position: absolute;
    top: 19%;
    left: 4%;
}

.timeline-img__absolute--S img {
    width: 10%;
    opacity: var(--opacity);
}